<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Newspaper</title>
    <link rel="icon" th:href="@{/images/newspaper-24.png}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <div th:replace="common/global :: googlefont"></div>
</head>
<body>

    <div th:replace="common/global :: nav"></div>

    <th:block th:include="news/card"></th:block>

    <div th:replace="common/global :: footer"></div>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</body>
</html>